
MDProject\.xcodeproj/xcuserdata/lorisdauria\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

MDProject\.xcworkspace/xcuserdata/lorisdauria\.xcuserdatad/UserInterfaceState\.xcuserstate

\.DS_Store
